<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>爪盟星</title>
    <!--weui 1.1.3版-->
    <link rel="stylesheet" href="../static/css/weui.css">
    <!--weui 修改-->
    <link rel="stylesheet" href="../static/css/1.css">
</head>
<body ontouchstart>
    <div class="button-sp-area minbtnarea-r">
        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default minbut-noborder">注销</a>
    </div>
    <div class="weui-flex">
        <div class="weui-flex__item flexitem-left">
            <div class="placeholder"><p><a href="javascript:void(0);">白熊</a>，欢迎回来</p></div>
        </div>
        <div class="placeholder flexitem-right">2月28日</div>
    </div>
    <div class="weui-grids girds-nobefore">
        <div class="weui-grid grid-nobefore1">
            <a href="javascript:;" class="weui-grid__label grid-label1">10</a>
            <p class="weui-grid__label grid-label2">本日登录用户</p>
        </div>
        <div class="weui-grid grid-nobefore2">
            <a href="javascript:;" class="weui-grid__label grid-label1">20</a>
            <p class="weui-grid__label grid-label2">本日新增用户</p>
        </div>
        <div class="weui-grid grid-nobefore3">
            <a href="javascript:;" class="weui-grid__label grid-label1">30</a>
            <p class="weui-grid__label grid-label2">本日完成问卷数</p>
        </div>
        <div class="weui-grid grid-nobefore1">
            <a href="javascript:;" class="weui-grid__label grid-label1">40</a>
            <p class="weui-grid__label grid-label2">待领养猫咪</p>
        </div>
        <div class="weui-grid grid-nobefore2">
            <a href="javascript:;" class="weui-grid__label grid-label1">50</a>
            <p class="weui-grid__label grid-label2">待领养狗狗</p>
        </div>
        <div class="weui-grid grid-nobefore3">
            <div class="weui-grid__label grid-noshow1">&nbsp;&nbsp;</div>
            <p class="weui-grid__label grid-noshow2">&nbsp;&nbsp;</p>
        </div>
        <div class="weui-grid grid-nobefore1">
            <a href="javascript:;" class="weui-grid__label grid-label1">70</a>
            <p class="weui-grid__label grid-label2">本日新增<br>待领养猫咪</p>
        </div>
        <div class="weui-grid grid-nobefore2">
            <a href="javascript:;" class="weui-grid__label grid-label1">80</a>
            <p class="weui-grid__label grid-label2">本日新增<br>待领养狗狗</p>
        </div>
            <div class="weui-grid grid-nobefore3">
            <div class="weui-grid__label grid-noshow1">&nbsp;&nbsp;</div>
            <p class="weui-grid__label grid-noshow2">&nbsp;&nbsp;<br>&nbsp;&nbsp;</p>
        </div>
        <div class="weui-grid grid-nobefore1">
            <a href="javascript:;" class="weui-grid__label grid-label1">100</a>
            <p class="weui-grid__label grid-label2">总计送养人</p>
        </div>
        <div class="weui-grid grid-nobefore2">
            <a href="javascript:;" class="weui-grid__label grid-label1">110</a>
            <p class="weui-grid__label grid-label2">本月活跃送养人</p>
        </div>
        <div class="weui-grid grid-nobefore3">
            <a href="javascript:;" class="weui-grid__label grid-label1">120</a>
            <p class="weui-grid__label grid-label2">本月新增送养人</p>
        </div>
    </div>
    <div class="weui-btn-area btnarea">
        <a href="admin_add.html" class="weui-btn weui-btn_primary">新增送养人</a>
        <a href="admin_modify.html" class="weui-btn weui-btn_default">修改送养人信息</a>
    </div>
    <div class="button-sp-area minbtnarea-bottom">
        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default minbut-noborder">日报数据下载</a>
    </div>
    <script type="text/javascript" src="../static/js/weui.js"></script>
    
</body>
</html>