<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>爪盟星</title>
    <!--weui 1.1.3版-->
    <link rel="stylesheet" href="../static/css/weui.css">
    <!--weui 修改-->
    <link rel="stylesheet" href="../static/css/1.css">
</head>
<body ontouchstart>
    <div class="page msg_warn js_show">
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">上传失败</h2>
                <p class="weui-msg__desc">失败原因：网络连接失败</p>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a href="provider_upload.html" class="weui-btn weui-btn_primary">重新上传</a>
                    <a href="provider_home.html" class="weui-btn weui-btn_default">返回首页</a>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/js/weui.js"></script>
</body>
</html>